# dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# build output
dist/
build/
.next/
out/
tsconfig.tsbuildinfo

# env
.env
.env.local

# logs
npm-debug.log*
*.log

# editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/
